In [1]:
import pandas as pd
import numpy 
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [11]:
# load sample data
path = "/Users/paraspokharel/Programming/costomFPL/costomFPL/data/football_data_uk/Bundesliga_16_17.csv"
data = pd.read_csv(path)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,h_course,d_course,a_course,h_pts_avg3,...,a_pozycja,a_ATT,a_MID,a_DEF,a_OVR,position_dst,ATT_dst,MID_dst,DEF_dst,OVR_dst
0,2016-08-27,Augsburg,Wolfsburg,0,2,A,2.80,3.25,2.60,1.000000,...,NaN,77.0,78.0,76.0,77.0,NaN,4.0,4.0,2.0,3.0
1,2016-08-27,Dortmund,Mainz,2,1,H,1.36,5.00,8.50,2.333333,...,NaN,74.0,74.0,75.0,74.0,NaN,9.0,7.0,6.0,7.0
2,2016-08-27,Ein Frankfurt,Schalke 04,1,0,H,3.40,3.30,2.20,0.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-27,FC Koln,Darmstadt,2,0,H,1.80,3.50,4.75,2.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-08-27,Hamburg,Ingolstadt,1,1,D,2.20,3.20,3.50,1.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2017-05-20,Hamburg,Wolfsburg,2,1,H,2.60,3.40,2.70,1.666667,...,15.0,77.0,78.0,76.0,77.0,1.0,NaN,NaN,NaN,NaN
301,2017-05-20,Hertha,Leverkusen,2,6,A,2.05,3.40,3.80,1.000000,...,12.0,83.0,79.0,78.0,79.0,6.0,9.0,4.0,4.0,5.0
302,2017-05-20,Hoffenheim,Augsburg,0,0,D,1.36,5.00,8.50,1.333333,...,15.0,73.0,74.0,74.0,74.0,11.0,5.0,2.0,2.0,3.0
303,2017-05-20,Ingolstadt,Schalke 04,1,1,D,2.63,3.50,2.60,1.000000,...,10.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
304,2017-05-20,M'gladbach,Darmstadt,2,2,D,1.33,5.50,8.50,1.666667,...,18.0,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN

In [ ]:
# prepare training data

In [ ]:
# train xgboost

In [ ]:
# evaluate

In [ ]:
# download model